body{
    background-color: black;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#root{
    text-align: center;
}

.container{
    background-color: rgb(49, 95, 193);
    padding: 20px;
    text-align: center;
}

#input-length{
    padding: 10px;
}
#len{
    margin-left: 10px;
}

