.container{
    background-color: blueviolet;
    /* height:500px;
    width:400px; */
    display:flex;
}
/* general css - desktop ke liye ahai toh desktop first approach hua, and then we write mobile css   */
.box{
    height: 300px;
    width:300px;
    color:red;
    background-color: aquamarine;
    margin:20px;
}
/* Mobile phone */
@media (max-width:600px)
{
    .container{
        flex-direction: column;
    }
}
/* tablet: max width 900px, min width 600px */
@media (min-width:601px) and (max-width: 900px)
{

}
/* aspect rarion = width/height */

/* @media (max-width:500px)
{
    .container{
        background-color: red;
        width:200px;
        height:200px;
    }
} */